._oVPSec {
    position: relative;
    width: 100%;
    height: 100%;
}

._coverSec {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    z-index: 100;

    display: none;
}